---
---

/*** IGNORE ***/
/*@import "{{ site.theme }}";*/

/*** EDIT ONLY BELOW HERE ***/

/* SET FONTS */
/**@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');**/ 

/* SET BODY STYLES **/
body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #071e33;
	
}

/* SET STYLES FOR BANNER */
.jumbotron {
	padding-top: 48px;
	padding-bottom: 48px;
	text-align: center;
	background: #392986;
	color: #051e33;
	background-image: linear-gradient(120deg, #174a7d, #ffffff);
}

/* remove rounded corners and margin from navigation bar */
.navbar {
      margin-bottom: 0;
      border-radius: 0;
}

/* Footer styles. Set black background color, white text and padding */
footer {
      background-color: #555;
      color: white;
      padding: 15px;
      text-align:center; 
}

/* Footer link styles. */
footer a {
	color: #f7f7f7;
	text-decoration: none;
}

footer a:hover {
	color:#ccffcc;
	text-decoration: underline;
}
* {
  box-sizing: border-box;
  
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  
	.left {
  width: 60%;
  height: 400px
}

.right {
  width: 40%;
height: 200px
}
  
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

